*{
    padding: 0;
    margin: 0;
}
h2{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
/*HEADER*/

.mainhead{
    width : 100%;
    height : 200px;
    background-color : #000000;
}


/*formulaire*/

form{
  display: flex;
  flex-direction: column;
  width: 300px;
  margin:auto;
}
