*{
    padding: 0;
    margin: 0;
}
h2{
  font-size: 30px;
  font-weight: bold;
  text-align: center;

}
/*HEADER*/

.mainhead{
    width : 100%;
    height : 200px;
    background-color : #777777;
    display : flex;
    flex-direction : row;
    justify-content : space-between;
}

.pictlogo{
    height : 200px;
    width : auto;
}

.pictbox{
    width : 350px;
    height : 200px;
    background-color : #777777;
}

.formbox{
    width : 350px;
    height : 200px;
    background-color : #888888;
}

/*FIN HEADER*/

/*FOOTER*/

.mainfooter{
    width : 100%;
    height : 50px;
    background-color : #777777;
}

/*FIN FOOTER*/

/*NAV*/

.mainnav{
    width : 200px;
    height : calc(100vh - 250px);
    background-color : transparent;
    display : flex;
    flex-direction :column;
}
.menu{
    display : flex;
    flex-direction: row;
    width : 200px;
    height : 48px;
    border-top : 1px solid #111111;
    border-bottom : 1px solid #111111;
}

.ring{
    width : 15px;
    height : 48px;
    background-image : linear-gradient(#A06800,#070024,#A06800);
}

.rubrique{
    width : 185px;
    height : 48px;
    background-color : #666666;
    text-align : center;
}

.menu:hover .ring{
    background-image : linear-gradient(#070024,#A06800,#070024);
}

.menu:hover .rubrique{
    background-color: #888888;
}

/*FIN NAV*/

/*MAIN*/

.bodyframe{
    width : 100%;
    height : calc(100vh - 250px);
    background-color : #AAAAAA;
    display :flex;
    flex-direction : row;
    justify-content: right;
}

.mainframe{
    width : calc(100% - 200px);
    height : calc(100vh - 250px);
    background-color : #AAAAAA;
    display :flex;
    flex-direction : row;
    justify-content: center;
}

.warning{
    width : 80%;
    height : 45px;
    margin-top : 50px;
    margin-bottom : 50px;
    border : 5px double #880000;
    background-color : #BBBBBB;
    overflow: hidden;
}

.warningtxt{
    font-size : 2rem;
    display : block;
	-webkit-animation:linear marqueelike 20s infinite ;
	-moz-animation:linear marqueelike 20s infinite ;
	-o-animation:linear marqueelike 20s infinite ;
	-ms-animation:linear marqueelike 20s infinite ;
    animation:linear marqueelike 20s infinite ;
    margin-left : -100%;
    padding-top : 6px;
    color : #880000;
}

/* Texte défilant */

.defileParent {
	display: block;
	margin: 3em auto;
	position: relative;
	table-layout: fixed;
}
.defile {
	display:block;
	-webkit-animation:linear marqueelike 20s infinite ;
	-moz-animation:linear marqueelike 20s infinite ;
	-o-animation:linear marqueelike 20s infinite ;
	-ms-animation:linear marqueelike 20s infinite ;
	animation:linear marqueelike 20s infinite ;
	margin-left:-100%;
	padding:0 5px;
	text-align:left;
	height:25px;
}


.defile:after {
	content:attr(data-text);
	position:absolute;
	white-space:nowrap;
	padding-left:10px;
}

@-webkit-keyframes marqueelike {
	0%, 100% {margin-left:0;}
	99.99% {margin-left:-100%;}
 }
@-moz-keyframes marqueelike {
	0%, 100% {margin-left:0;}
	99.99% {margin-left:-100%;}
 }
@-o-keyframes marqueelike {
	0%, 100% {margin-left:0;}
	99.99% {margin-left:-100%;}
 }
@-ms-keyframes marqueelike {
	0%, 100% {margin-left:0;}
	99.99% {margin-left:-100%;}
 }
@keyframes marqueelike {
	0%, 100% {margin-left:0;}
	99.99% {margin-left:-100%;}
 }

/*FIN MAIN*/

/*formulaire*/

form{
  display: flex;
  flex-direction: column;
  width: 300px;
  margin:auto;
}

.btnframe{
    width :100%;
    display :flex;
    flex-direction : row;
    margin-top : 20px;
}

.btnform{
    height : 30px;
    width : 50%;
}
.txtfield{
    height : 30px;
    width : 100%;
    border : none;
    border-bottom : 1px solid #CFCFCF;
    margin-top : 10px;
    background-color : #CFCFCF;
    padding-left: 5px;
}

.txtfield:hover,.txtfield:focus{
    border-bottom : 1px solid #111111;
    background-color : #BBBBBB;
}

.form{
  background-color: #c2c2c2;
  width:  400px;
  height: 200px;
  margin:auto;
}
