.ruleframe{
    width : 90%;
    background-color : #BBBBBB;
    margin-left : 5%;
    margin-top : 50px;
}

.mainframe2{
    width : calc(100% - 200px);
    height : calc(100vh - 250px);
    background-color : #AAAAAA;
    display :flex;
    flex-direction : column;
}